{
  "presets": [
    "es2015",
    "es2016",
    "react",
  ],
  "env": {
    "development": {
      "presets": ["react-hmre"],
      "plugins": [
        "babel-plugin-transform-object-rest-spread",
        [
          "react-transform",
          {
            "transforms": [{
              "transform": "react-transform-hmr",
              "imports": ["react"],
              "locals": ["module"]
            }]
          }
        ]
      ]
    }
  }
}
